[tool.poetry]
name = "BaiduPCS-Py"
homepage = "https://github.com/PeterDing/BaiduPCS-Py"
version = "0.5.9"
description = "Baidu Pcs App"
authors = ["PeterDing <dfhayst@gmail.com>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Environment :: Console", 
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
build = "build.py"

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.25.1"
rich = "^9.8.0"
requests-toolbelt = "^0.9.1"
Pillow = "^8.1.0"
click = "^7.1.2"
typing-extensions = "^3.7.4"
aget = "^0.1.17"
chardet = "^4.0.0"
fastapi = "^0.63.0"
uvicorn = {extras = ["standard"], version = "^0.13.3"}
Jinja2 = "^2.11.2"
cryptography = "^3.3.1"
filelock = "^3.0.12"
Cython = "^0.29.21"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
mypy = "^0.790"
black = "^20.8b1"
setuptools = "^52.0.0"
Cython = "^0.29.21"

[tool.poetry.scripts]
BaiduPCS-Py = 'baidupcs_py.app:main'

[build-system]
requires = ["poetry-core>=1.0.0", "cython", "wheel", "setuptools"]
build-backend = "poetry.core.masonry.api"
